.btn{
    padding: 9px 20px;
    background-color: blueviolet;
    color: #fff;
}
.btn:hover {
    background-color: rgb(192, 156, 225);
    border: 2px solid black;
    cursor: pointer;
}


/* @media screen and (max-width:1200px){

} */

@media  (min-width:1050px){
    .btn{
        padding: 15px 30px;
    }
}


@media screen and (max-width:950px){
    .btn{
   
    }
}

@media (max-width:500px){
    .btn{
        margin-top: 15px;
        padding: 12px 25px;
    }
}